.logo-shadow {
    -moz-box-shadow: inset 5px 5px 100px #eee;
    -webkit-box-shadow: inset 5px 5px 100px #eee;
    box-shadow: inset 5px 5px 100px #eee;
    -moz-border-radius: 70px/30px;
    -webkit-border-radius: 70px/30px;
    border-radius: 70px/30px;
}